<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppl.am"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ppl.am.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ppl.am.Kontak"
            android:label="@string/title_activity_kontak" >
        </activity>
        <activity
            android:name="com.ppl.am.ListTask"
            android:label="@string/title_activity_list_task" >
        </activity>
        <activity
            android:name="com.ppl.am.FormEvent"
            android:label="@string/title_activity_form_event" >
        </activity>
        <activity
            android:name="com.ppl.am.FormTask"
            android:label="@string/title_activity_form_task" >
        </activity>
        <activity
            android:name="com.ppl.am.FormKontak"
            android:label="@string/title_activity_form_kontak" >
        </activity>
        <activity
            android:name="com.ppl.am.Harian"
            android:label="@string/title_activity_harian" >
        </activity>
        <activity
            android:name="com.ppl.am.Rincian"
            android:label="@string/title_activity_rincian" >
        </activity>
        <activity
            android:name="com.ppl.am.Undangan"
            android:label="@string/title_activity_undangan" >
        </activity>
    </application>

</manifest>
